
/* general parameters */


:root {
    --hex-height: 15vh;
    --hex-width:  calc(var(--hex-height) * 1.73);
    --hex-width-half: calc(var(--hex-width) / 2);
    --hex-height-half: calc(var(--hex-height) / 2);
    --logo-height: 15vh;
    --hex-color: #7F5283;
  }


@font-face {
 
    font-family: 'Alliance';
    src: url('./fonts/AllianceNo1-SemiBold.eot');
    src:url('./fonts/AllianceNo1-Bold.woff2') format('woff2'),
        url('./fonts/AllianceNo1-Bold.woff') format('woff'),
        url('./fonts/AllianceNo1-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Alliance';
    src: url('./fonts/AllianceNo1-SemiBold.eot');
    src: url('./fonts/AllianceNo1-SemiBold.woff2') format('woff2'),
    url('./fonts/AllianceNo1-SemiBold.woff') format('woff'),
    url('./fonts/AllianceNo1-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Alliance';
    src: url(./fonts/AllianceNo1-Regular.eot);
    src: url('./fonts/AllianceNo1-Regular.woff2') format('woff2'),
    url('./fonts/AllianceNo1-Regular.woff') format('woff'),
    url('./fonts/AllianceNo1-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    border: 0;
    margin: 0;
    padding: 0;
}




/* Intro slide */
.slide_1 {
    display: flex;
    background: linear-gradient(219deg, #7776ff, #ae2cf1);
    background-size: 400% 400%;
    width: 100%;
    height: 100vh;
    -webkit-animation: AnimationName 6s ease infinite;
    -moz-animation: AnimationName 6s ease infinite;
    animation: AnimationName 6s ease infinite;
    position: fixed;
    flex-direction: column;
    align-items: center;
    
}

.blank{
    display: flex;
    height: 100vh;
    width: 100%;
    position: relative;
}


 
#loading-box{

    width: 100%;
    background-color: #1F4690;
    -webkit-transition: max-height 2s; 
    -moz-transition: max-height 2s; 
    -ms-transition: max-height 2s; 
    -o-transition: max-height 2s; 
    transition: all 2s;  
    overflow: hidden;
    max-height: 100%;
    
}




#scroll-down{
    margin-top: 20vh;
    width: 10vh;
    filter: invert(100%) sepia(67%) saturate(1%) hue-rotate(96deg) brightness(105%) contrast(100%);
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}
}
@keyframes AnimationName {
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}



}


.slide_1 h1{
    font-family: "Alliance";
    font-weight: bold;
    font-size: 10vh;
    color: white;
    margin-top: 10vh;
    
}

.slide_1 p{
    font-family: "Alliance";
    font-weight: 600;
    font-size: 3vh;
    color: #dcdada;
    text-align: center;
    width: 50%;
    margin-top: 1vh;
}


.slide_2{
    display: flex;
    width: 100%;
    position: relative;
    height: 100vh;
    background-color: #2C3333;
    
}
.slide_2 img{
    height:100vh;
    
    
    transition: all 2s ease;
}


.text_section{
    
    flex-direction: column;
    height: 100vh;
    
    transition: all 1.5s ease;
    transition-delay: 0.5s;
    
}

.text_container{
    flex-direction: column;
    width: 70%;
    margin-left: 5vh;
    margin-top: 5vh;
}
.text_section h2{
    font-family: "Alliance";
    font-weight: bold; 
    font-size: 2vh; 
    color: #7776ff;
    
}
.text_section h1{
    font-family: "Source Code Pro";
    font-weight: bold;  
    font-size: 6vh;
    color: white;
}
.text_section p{
    color:whitesmoke;
    font-family: "Alliance";
    font-weight: normal;  
    margin-top: 4vh;
    font-size: 2.5vh;
    
}


.timeline-banner{
    position: relative;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.timeline-banner h1{
    font-family: "Alliance";
    font-weight: bold; 
    font-size: 5vh; 
    color: black;
    transition: all 1s ease;
    
}


.slide_3{
    
    position: relative;
    height: 220vh;
    background-color: #18978F;
    display: flex;
    flex-direction: row;
    width: 100%;
}



.fade-in{
    position: relative;
    opacity: 0;
    transform: translate(0,10vh);
    -webkit-transform: translate(0,10vh); /** Chrome & Safari **/
    -o-transform: translate(0,10vh); /** Opera **/
    -moz-transform: translate(0,10vh); 
}

.custom-shape-divider-bottom-1658180740 {
    
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1658180740 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 83px;
}

.custom-shape-divider-bottom-1658180740 .shape-fill {
    fill: #FFFFFF;
}




.slide_3 div{
    display: flex;
    flex-direction: column;
}

.left-section{
    display: flex;
    margin-top: 5vh;
    gap: 30px;
    width: 49.5%;
}
.right-section{
    display: flex;
    margin-top: 5vh;
    gap: 30px;
    width: 49.5%;
}



.container-years{
    
    
    background-color: #54BAB9;
    border-radius: 5vh;
    padding: 3vh;
    
    width: 70%;
    transition: all 1s ease;
    align-self: center;
    gap: 10px;
}

.slide_3 h1{
    font-family: "Source Code Pro";
    font-weight: bold;  
    font-size: 5vh;
    color: white;
    margin-bottom: 0;
}

.slide_3 p{
    color:whitesmoke;
    font-family: "Alliance";
    font-weight: normal;  
    
    font-size: 2.5vh;
}
.timeline{
    width: 0.5%;
    height: 100%;
    align-self:flex-start;
    position: relative;
    background-color: white;

    
}

.timeline-point{
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    width: 3vh;
    height: 3vh;
    background: white;
    border-radius: 50%;
   
}

.slide_3 h2{
    font-family: "Alliance";
    font-weight: 600;
    font-size: 3vh;
    color: white;
}

q{
    font-style: italic;
}

#s2016{
    position: relative;
    top: 40vh;  
    height: auto;
}

#s2017{
    position: relative;
    top: 40vh;  
    height: auto;
}

#s2018{
    position: relative;
    top: 85vh;  
    height: auto;
}


#s2022{
    position: relative;
    top: 95vh;  
    height: auto; 
}



#p2016{
    top: 40vh;

}

#p2017{
    top: 75vh;
}

#p2018{
    top: 120vh;
}

#p2022{
    top: 175vh;
}



.slide_4{
        display: flex;
        align-items: center;
        flex-direction: row;
        position: relative;
        min-height: 110vh;
        background-color: #2C3333;
        width: 100%;
       
}


.programs-text{
    display: flex;
    max-width: 50%;
    order: 2;
    
}


.logo{
    height: var(--logo-height);
    display: inline-block;
    position: relative;
    /* Move the element to the right by 50% of the container's width */
    left: 50%; 
    /* Calculates 50% of the element's width, and moves it by that */ 
    /* amount across the X-axis to the left */
    transform: translateX(-50%);
    top: 20%;
    

}


.main {
    align-self: flex-start;
    margin-top: 3vh;
    margin-left: 3vh;
    display:flex;
    --s: 25vh;  /* size  */
    --m: 4px;    /* margin */
    --f: calc(var(--s) * 1.732 + 4 * var(--m) - 1px); 
    max-width: 50%;
  }
  
  .container {
    font-size: 0; /* disable white space between inline block element */
  }
  
  .logo-container {
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s) * 1.1547);
    display: inline-block;
    
    font-size:initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    margin-bottom: calc(var(--m) - var(--s) * 0.2885);
    background-color: var(--hex-color);
    /* perspective: 1000px; */
    transition: all 0.5s ease;
  }
  
  .container::before {
    content: "";
    width: calc(var(--s) / 2 + var(--m));
    float: left;
    height: 120%; 
    shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px), #000 0 var(--f));
  }

.inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.logo-container:hover {
    transform: rotateY(180deg);
    

  }

  .text-container h1{
    font-family: "Source Code Pro";
    font-weight: bold;  
    font-size: 6vh;
    color: white;
  }

  .text-container p {
    color:whitesmoke;
    font-family: "Alliance";
    font-weight: normal;  
    margin-top: 4vh;
    font-size: 2.5vh;
  }

  .text-container h2{
    font-family: "Alliance";
    font-weight: bold; 
    font-size: 2vh; 
    color: #7776ff;
  }