
/* general parameters */

@font-face {
    font-family: 'Alliance No.1';
    src: url('AllianceNo1-ExtraBoldItalic.eot');
    src: local('Alliance No.1 ExtraBold Italic'), local('AllianceNo.1-ExtraBoldItalic'),
        url('AllianceNo1-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('AllianceNo1-ExtraBoldItalic.woff2') format('woff2'),
        url('AllianceNo1-ExtraBoldItalic.woff') format('woff'),
        url('AllianceNo1-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Alliance No.1';
    src: url('AllianceNo1-Medium.eot');
    src: local('Alliance No.1 Medium'), local('AllianceNo.1-Medium'),
        url('AllianceNo1-Medium.eot?#iefix') format('embedded-opentype'),
        url('AllianceNo1-Medium.woff2') format('woff2'),
        url('AllianceNo1-Medium.woff') format('woff'),
        url('AllianceNo1-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Alliance No.1';
    src: url('AllianceNo1-SemiBoldItalic.eot');
    src: local('Alliance No.1 SemiBold Italic'), local('AllianceNo.1-SemiBoldItalic'),
        url('AllianceNo1-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('AllianceNo1-SemiBoldItalic.woff2') format('woff2'),
        url('AllianceNo1-SemiBoldItalic.woff') format('woff'),
        url('AllianceNo1-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Alliance No.1';
    src: url('AllianceNo1-ExtraBold.eot');
    src: local('Alliance No.1 ExtraBold'), local('AllianceNo.1-ExtraBold'),
        url('AllianceNo1-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('AllianceNo1-ExtraBold.woff2') format('woff2'),
        url('AllianceNo1-ExtraBold.woff') format('woff'),
        url('AllianceNo1-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Alliance No.1';
    src: url('AllianceNo1-Black.eot');
    src: local('Alliance No.1 Black'), local('AllianceNo.1-Black'),
        url('AllianceNo1-Black.eot?#iefix') format('embedded-opentype'),
        url('AllianceNo1-Black.woff2') format('woff2'),
        url('AllianceNo1-Black.woff') format('woff'),
        url('AllianceNo1-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Alliance No.1';
    src: url('AllianceNo1-Light.eot');
    src: local('Alliance No.1 Light'), local('AllianceNo.1-Light'),
        url('AllianceNo1-Light.eot?#iefix') format('embedded-opentype'),
        url('AllianceNo1-Light.woff2') format('woff2'),
        url('AllianceNo1-Light.woff') format('woff'),
        url('AllianceNo1-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Alliance No.1';
    src: url('AllianceNo1-Regular.eot');
    src: local('Alliance No.1 Regular'), local('AllianceNo.1-Regular'),
        url('AllianceNo1-Regular.eot?#iefix') format('embedded-opentype'),
        url('AllianceNo1-Regular.woff2') format('woff2'),
        url('AllianceNo1-Regular.woff') format('woff'),
        url('AllianceNo1-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alliance No.1';
    src: url('AllianceNo1-BlackItalic.eot');
    src: local('Alliance No.1 Black Italic'), local('AllianceNo.1-BlackItalic'),
        url('AllianceNo1-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('AllianceNo1-BlackItalic.woff2') format('woff2'),
        url('AllianceNo1-BlackItalic.woff') format('woff'),
        url('AllianceNo1-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Alliance No.1';
    src: url('AllianceNo1-SemiBold.eot');
    src: local('Alliance No.1 SemiBold'), local('AllianceNo.1-SemiBold'),
        url('AllianceNo1-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('AllianceNo1-SemiBold.woff2') format('woff2'),
        url('AllianceNo1-SemiBold.woff') format('woff'),
        url('AllianceNo1-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Alliance No.1';
    src: url('AllianceNo1-Bold.eot');
    src: local('Alliance No.1 Bold'), local('AllianceNo.1-Bold'),
        url('AllianceNo1-Bold.eot?#iefix') format('embedded-opentype'),
        url('AllianceNo1-Bold.woff2') format('woff2'),
        url('AllianceNo1-Bold.woff') format('woff'),
        url('AllianceNo1-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alliance No.1';
    src: url('AllianceNo1-MediumItalic.eot');
    src: local('Alliance No.1 Medium Italic'), local('AllianceNo.1-MediumItalic'),
        url('AllianceNo1-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('AllianceNo1-MediumItalic.woff2') format('woff2'),
        url('AllianceNo1-MediumItalic.woff') format('woff'),
        url('AllianceNo1-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Alliance No.1';
    src: url('AllianceNo1-RegularItalic.eot');
    src: local('Alliance No.1 Regular Italic'), local('AllianceNo.1-RegularItalic'),
        url('AllianceNo1-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('AllianceNo1-RegularItalic.woff2') format('woff2'),
        url('AllianceNo1-RegularItalic.woff') format('woff'),
        url('AllianceNo1-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Alliance No.1';
    src: url('AllianceNo1-LightItalic.eot');
    src: local('Alliance No.1 Light Italic'), local('AllianceNo.1-LightItalic'),
        url('AllianceNo1-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('AllianceNo1-LightItalic.woff2') format('woff2'),
        url('AllianceNo1-LightItalic.woff') format('woff'),
        url('AllianceNo1-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}


@font-face {
    font-family: 'Alliance No.1';
    src: url('AllianceNo1-BoldItalic.eot');
    src: local('Alliance No.1 Bold Italic'), local('AllianceNo.1-BoldItalic'),
        url('AllianceNo1-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('AllianceNo1-BoldItalic.woff2') format('woff2'),
        url('AllianceNo1-BoldItalic.woff') format('woff'),
        url('AllianceNo1-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}



*{
    border: 0;
    margin: 0;
    padding: 0;
}

div{
    display: flex;
    width: 100%;
    height: 100vh;
}


/* Intro slide */
.slide_1 {
    background: linear-gradient(219deg, #7776ff, #ae2cf1);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 6s ease infinite;
    -moz-animation: AnimationName 6s ease infinite;
    animation: AnimationName 6s ease infinite;
    position: fixed;
    flex-direction: column;
    align-items: center;
}

.blank{
    height: 100vh;
    position: relative;
}


 
#loading-box{

    width: 100%;
    background-color: #1F4690;
    -webkit-transition: max-height 2s; 
    -moz-transition: max-height 2s; 
    -ms-transition: max-height 2s; 
    -o-transition: max-height 2s; 
    transition: all 2s;  
    overflow: hidden;
    max-height: 100%;
    
}




#scroll-down{
    margin-top: 20vh;
    width: 10vh;
    filter: invert(100%) sepia(67%) saturate(1%) hue-rotate(96deg) brightness(105%) contrast(100%);
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}
}
@keyframes AnimationName {
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}



}


.slide_1 h1{
    font-family: "Alliance No.1";
    font-weight: bold;
    font-size: 10vh;
    color: white;
    margin-top: 10vh;
    
}

.slide_1 p{
    font-family: "Alliance No.1";
    font-weight: 600;
    font-size: 3vh;
    color: #dcdada;
    text-align: center;
    width: 50%;
    margin-top: 1vh;
}


.slide_2{
    position: relative;
    height: 100vh;
    background-color: #2C3333;
    
}
.slide_2 img{
    height:100vh;
    
    
    transition: all 2s ease;
}


.text_section{
    
    flex-direction: column;
    height: 100vh;
    
    transition: all 1.5s ease;
    transition-delay: 0.5s;
    
}

.text_container{
    flex-direction: column;
    width: 70%;
    margin-left: 5vh;
    margin-top: 5vh;
}
.text_section h2{
    font-family: "Alliance No.1";
    font-weight: bold; 
    font-size: 2vh; 
    color: #7776ff;
    
}
.text_section h1{
    font-family: "Source Code Pro";
    font-weight: bold;  
    font-size: 6vh;
    color: white;
}
.text_section p{
    color:whitesmoke;
    font-family: "Alliance No.1";
    font-weight: regular;  
    margin-top: 4vh;
    font-size: 2.5vh;
    
}


.timeline-banner{
    position: relative;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.timeline-banner h1{
    font-family: "Alliance No.1";
    font-weight: bold; 
    font-size: 5vh; 
    color: black;
    transition: all 1s ease;
    
}


.slide_3{
    position: relative;
    height: 250vh;
    background-color: #18978F;
    display: flex;
    flex-direction: row;
    width: 100%;
}



.fade-in{
    position: relative;
    opacity: 0;
    transform: translate(0,10vh);
    -webkit-transform: translate(0,10vh); /** Chrome & Safari **/
    -o-transform: translate(0,10vh); /** Opera **/
    -moz-transform: translate(0,10vh); 
}

.custom-shape-divider-bottom-1658180740 {
    
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1658180740 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 83px;
}

.custom-shape-divider-bottom-1658180740 .shape-fill {
    fill: #FFFFFF;
}




.slide_3 div{
    display: flex;
    flex-direction: column;
}

.left-section{
    margin-top: 5vh;
    gap: 30px;
}
.right-section{
    margin-top: 5vh;
    gap: 30px;
}



.container-years{
    
    
    background-color: #54BAB9;
    border-radius: 5vh;
    padding: 3vh;
    
    width: 70%;
    transition: all 1s ease;
    align-self: center;
    gap: 10px;
}

.slide_3 h1{
    font-family: "Source Code Pro";
    font-weight: bold;  
    font-size: 5vh;
    color: white;
    margin-bottom: 0;
}

.slide_3 p{
    color:whitesmoke;
    font-family: "Alliance No.1";
    font-weight: regular;  
    
    font-size: 2.5vh;
}
.timeline{
    width: 1%;
    height: 100%;
    align-self:flex-start;
    position: relative;
    background-color: white;

    
}

.timeline-point{
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    width: 3vh;
    height: 3vh;
    background: white;
    border-radius: 50%;
   
}

.slide_3 h2{
    font-family: "Alliance No.1";
    font-weight: 600;
    font-size: 3vh;
    color: white;
}

q{
    font-style: italic;
}

#s2016{
    position: relative;
    top: 40vh;  
    height: auto;
}

#s2017{
    position: relative;
    top: 40vh;  
    height: auto;
}

#s2018{
    position: relative;
    top: 85vh;  
    height: auto;
}


#s2022{
    position: relative;
    top: 95vh;  
    height: auto; 
}



#p2016{
    top: 40vh;

}

#p2017{
    top: 75vh;
}

#p2018{
    top: 120vh;
}

#p2022{
    top: 175vh;
}

